{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Add lesson</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.time.label(class="form-label") }}
            {{ form.time(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.teacher.label(class="form-label") }}
            {{ form.teacher(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
{% endblock %}