{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}\
        <div class="mb-3">
            {{ form.username.lable(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <span style="color: #690000">{{ error }}</span>
            {% endof %}
        </div>
        <div class="mb-3">
            {{ form.email.lable(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span style="color: #690000">{{ error }}</span>
            {% endof %}
        </div>
        <div class="mb-3">
            {{ form.password.lable(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.username.errors %}
                <span style="color: #690000">{{ error }}</span>
            {% endof %}</div>
        <div class="mb-3"></div>
        <div class="mb-3"></div>
    </form>
{% endblock %}